<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.change_vision.astah.sample-taggedvalue.actionSet">
         <menu
               id="sample-taggedvalue"
               label="%menu_group"
               path="tool/sample-taggedvalue">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="com.change_vision.astah.AddTaggedValueAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/sample-taggedvalue/"
               id="sample-taggedvalue">
         </action>
     </actionSet>
   </extension>
</plugin>
